.img1{
    width: 50%;
}

.img2{
    width: 50%;
}

.img3 {
    width: 50%;
}

.img4 {
    width: 50%;
}

.img5 {
    width: 50%;
    height: 50%;
}

.logo {
    width: 125px;
}

header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: white;
}

#Homegrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h1 {
    text-align: center;
    border: solid black 5px;
}